body {
	background-color: #ffffff;
}

.header-title {
	padding-top: 60px;
	margin-right: 10px;
	text-align: center;
	font-size: 60px;
	color: pink;
}

input[type=text] {
	padding: 10px 10px;
	text-align: center;
	font-size: 10px;
}

img {
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding: 4px;
	width: 140px;
}